=content_for :carousel do
  #app(ng-app='Home' ng-controller='HomeCtrl')
    .ginev-carousel
      / %li 
      /   %h1 item1
      / %li 
      /   %h1 item2
      / %li 
      /   %h1 item3
      / %li 
      /   %h1 item4
      / %li 
      /   %h1 item5
      / %li 
      /   %h1 item5

      =image_tag '1.jpg'
      =image_tag '2.jpg'
      =image_tag '3.jpg'
      =image_tag '4.jpg'
      =image_tag '5.jpg'
      =image_tag '5.jpg'
      =image_tag '4.jpg'
      =image_tag '5.jpg'
      =image_tag '5.jpg'