=content_for :carousel do
  #app(ng-app='Home' ng-controller='HomeCtrl')
    .ginev-carousel
      -@featured_units.each do |unit|
        .property-for-carousel{'unit'=> unit.to_json}
.row-fluid
  #cary-and-listings.span12
    #listings.span4
      %h3
        My listings

      =link_to :search do 
        =image_tag '/assets/mapblur.png'
      .row-fluid
        .span6
          =link_to 'Properties', '/properties'
        .span6
          =link_to 'Open houses'

    #cary.span8
      .span3
      #slogan.span5
        #name
          Cary Monroe
        I really enjoy working with people on what is usually a major life decision. It gives me great pleasure to bring a deal to a conclusion that is satisfactory to both sides.
      .span4.pull-right
        #photo-frame
          =image_tag 'cary.jpg'
  
#areas(style="height: 500px")
