#top-navigation.container
  = render 'layouts/navigation'
#main{:role => "main"}
  #carousel(ginev-carousel)
    -@featured_properties.each do |unit|
      .property-for-carousel{'unit'=> unit.to_json}
  .container
    #agent-and-listings
      #listings
        %h3
          My listings
        =link_to '/properties', class: 'no-decoration' do 
          =image_tag '/assets/mapblur.png'
        .text-links
          =link_to '/properties' do
            Properties
          &nbsp;|&nbsp;
          =link_to 'Open houses', '/properties'
      #agent
        #slogan
          %h4#name
            Dimitar Ginev
          I really had to shave before I took this picture, but ohhh well :). I hope you at least like the image carousel on top (self made and crammed into an Angular directive) 
        #photo-frame
          =image_tag 'agent.jpg'
        
  #areas
    .nav-wrap
      #navigation.container(navigation)
        -for area in @all_areas_construct
          %span{"data-content" => "##{area[:name].sub(" ", "-")}"}
            =link_to "#{area[:name]}", js_void
          
    .container
      -for area in @all_areas_construct
        %div{id: area[:name].sub(" ", "-"), class:'hide'}
          -for @section in area[:properties]
            =render 'common/unit'

     


          
        
