.ginev-unit-wrap
  %h4
    =@section[:title]
    
  =link_to 'View all', "/properties"
  .ginev-unit
    =link_to "/properties/#{@section[:property][:id]}" do 
      =image_tag @section[:property][:picture]
    %h5.address
      =link_to "/properties/#{@section[:property][:id]}" do
        =@section[:property][:address]

