.ginev-unit-wrap
  %h4
    =@section[:title]
    
  =link_to 'View all', "/properties"
  .ginev-unit
    =image_tag @section[:property][:picture]
    %h5.address
      =@section[:property][:address]

