=link_to root_path, {id: 'logo'} do
  =image_tag "/assets/logo2.png"
#links
  =link_to 'for sale', '/properties?p=for_sale'
  |
  =link_to 'for rent', '/properties?p=for_rent'
  |
  =link_to 'about', '/home/about'